@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --base-color: rgb(6, 6, 6);
    --base-variant:  rgb(15, 19, 23);
    --text-color: rgb(222, 222, 222);
    --secondary-text: rgb(107, 107, 107);
    --primary-color:  rgb(228, 228, 228);
    --accent-color: rgb(145, 145, 255);
    --button-color: rgb(216, 216, 216);
    --bar-color: rgb(26, 26, 26);
    --profile-color: rgb(222, 222, 222);
    --title-color: white;
    --contrast-opactity: ;
}

.darkmode {
    --base-color: rgb(51, 51, 51);
    --base-variant:  rgb(234, 234, 234);
    --text-color: rgb(42, 42, 42);
    --secondary-text: rgb(81, 81, 81);
    --primary-color:  rgb(65, 65, 65);
    --accent-color: rgb(117, 117, 251);
    --button-color: rgb(200, 200, 200);
    --bar-color: rgb(22, 22, 22);
    --profile-color: transparent;
    --title-color: rgb(254, 254, 254);
}

.mode > button {
    border: none;
}


#theme-switch{
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch i{
    font-size: 15px;
    /* transform: rotate(90deg); */
    color: rgb(255, 255, 255);
}
#theme-switch i:last-child{
    display: none;
}
.darkmode #theme-switch i:first-child{
    display: none;
}
.darkmode #theme-switch i:last-child{
    display: block;
    color: white;
}



/* MAIN BODY */

.fContainer {
    width: 100%;
    height: 100%;
    background-color:var(--base-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
    color:  var(--title-color);
    font-family: "ubuntu", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) contrast(80%);
    position: fixed;
    top: 20px;
}

    .name {
        cursor: default;
    }

    .mode > button {
        cursor: pointer;
    }

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 280px 330px;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
}

@media (max-width: 829px) {
    .grid {
        grid-template-columns: 320px;
    }
    .navbar {
        width: 320px;
    }
}


/* LAYOUT GRID */


.l-t-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--base-variant);
    height: 400px;
    border-radius: 30px;
    padding: 20px;
}

.r-t-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--base-variant);
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    cursor: default;
}

.b-t-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-variant);
    height: 520px;
    border-radius: 20px;
    padding: 30px;
    cursor: default;
    margin-top: 20px;
}

.c-l-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-variant);
    height: 100px;
    border-radius: 20px;
    padding: 30px;
    cursor: default;
    margin-top: 20px;
}

.c-r-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-variant);
    height: 100px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    cursor: default;
}


/* CONTENT MAIN */


.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solid-bottom {
    background-color: rgb(41, 41, 41);
    width: 100px;
    height: 4px;
    border-radius: 50px;
}

    .profile > img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        background-color: var(--profile-color);
    }

.username {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: "ubuntu sans", sans-serif;
    text-align: center;
}

    .username > a {
        text-decoration: none;
        color:var(--text-color);
        font-weight: 900;
    }

        .username > span {
            color: var(--secondary-text);
            font-size: 10px;
            width: 130px;
            cursor: default;
        }


.link {
    margin-top: 22px;
    margin-bottom: 20px;
}

    .link > a > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:var(--button-color);
        border: none;
        font-size: 9px;
        width: 180px;
        height: 34px;
        border-radius: 15px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        font-weight: 500;
    }

    .link > a > button:hover {
        background-color: var(--accent-color);
        transition: all .2s ease-in-out;
    }

        .link > a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            padding: 4px;
            text-decoration: none;
        }

            .link > a > button > span {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 3px;
            }

            .link > a > button > img {
                width: 10px;
                height: 10px;
            }


/* CONTENT 2ND */

.open-rec-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .open-rec-app > h2 {
        color: var(--text-color);
        font-size: 22px;
        margin-bottom: 20px;
    }

        .open-rec-app > div {
            color: var(--text-color);
            font-size: 10px;
        }

.title-rules {
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.rules {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 10px;
    color: var(--text-color);
    font-size: 10px;
    border-left: 1px solid var(--secondary-text);
    margin-left: 2px;
}

    .rules > div > a {
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 600;
    }

        .rules > div > span {
            font-size: 8px;
            display: flex;
            font-weight: 400;
            color: var(--secondary-text);
            margin-left: 10px;
        }

.rules-info {
    padding-left: 10px;
    padding-bottom: 1px;
    font-weight: 400;
    color: var(--secondary-text);
    font-size: 9px;
    border-left: 1px solid var(--secondary-text);
    margin-left: 2px;
    margin-bottom: 5px;
}


.button-entry {
    margin-top: 10px;
    border-top: 1px solid var(--secondary-text);
    margin-left: 2px;
}

.button-entry > button {
    margin-top: 10px;
    font-size: 8px;
    background-color: var(--accent-color);
    border: none;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-entry > a {
    text-decoration: none;
    color: var(--secondary-text);
    padding-left: 5px;
    font-size: 8px;
    transition: all .3s ease-in-out;
}

.button-entry > a:hover {
    color: var(--text-color);
    transition: all .2s ease-in-out;
}

.disable-btn {
    cursor: default;
    background-color: var(--secondary-text);
}


/* CONTENT 3ND */


.title-charts {
    color: var(--text-color);
    font-family: "ubuntu", sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.title-charts > i {
    font-size: 11px;
    padding-right: 9px;
}

.title-info {
    color: var(--secondary-text);
    font-family: "ubuntu", sans-serif;
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 10px;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
}

    .charts-wrapper > h2 {
        color: var(--text-color);
        font-family: "ubuntu", sans-serif;
        font-size: 7px;
        padding-top: 6px;
        padding-bottom: 3px;
        font-weight: 500;
    }


.charts-bar {
    background-color: var(--bar-color);
    width: 100%;
    height: 10px;
    border-radius: 3px;
}

    .charts-bar > div {
        height: 10px;
        border-radius: 3px;
        background-color:transparent;
        width: 0%;
        color: var(--base-color);
        font-size: 6px;
    }

.amv {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 800;
    animation: amv 1s linear forwards;
    animation-delay: 0.10s;
}

.gfx {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 800;
    animation: gfx 1s linear forwards;
    animation-delay: 0.20s;
}

.ae {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 800;
    animation: ae 1s linear forwards;
    animation-delay: 0.30s;
}

.ps {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 800;
    animation: ps 1s linear forwards;
    animation-delay: 0.40s;
}

.am {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-weight: 800;
    animation: am 1s linear forwards;
    animation-delay: 0.50s;
}



    .amv > span {
        color: transparent;
        animation: texth2 1s linear forwards;
        animation-delay: 0.20s;
    }

    .gfx > span {
        color: transparent;
        animation: texth2 1s linear forwards;
        animation-delay: 0.30s;
    }

    .ae > span {
        color: transparent;
        animation: texth2 1s linear forwards;
        animation-delay: 0.40s;
    }

    .ps > span {
        color: transparent;
        animation: texth2 1s linear forwards;
        animation-delay: 0.50s;
    }

    .am > span {
        color: transparent;
        animation: texth2 1s linear forwards;
        animation-delay: 0.60s;
    }

        @keyframes amv {
            100%{
                width: 40%;
                background-color: rgb(255, 39, 32);
            }
        }

        @keyframes gfx {
            100%{
                width: 60%;
                background-color: rgb(33, 0, 197);
            }
        }

        @keyframes ae {
            100%{
                width: 57%;
                background-color: rgb(118, 118, 118);
            }
        }

        @keyframes ps {
            100%{
                width: 50%;
                background-color: rgb(71, 71, 71);
            }
        }

        @keyframes am {
            100%{
                width: 78%;
                background-color: rgb(162, 162, 162);
            }
        }

        @keyframes texth2 {
            100%{
                color: white;
            }
        }




/* CONTENT 4ND */

.content-4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: var(--secondary-text);
}

.content-5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: var(--secondary-text);
}
